body{
    background-color: rgba(0, 0, 0, 0.425);
}

 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #e9e7e7ce;
    background-image: url(hand.png);
    background-size: 10%;
    opacity: 80%;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
}
  
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
} 















 

  input{
    font:  "Andale Mono, monospace", Arial, sans-serif;
    color: black;
    letter-spacing: 0.1em;
}
  
  .formulaire {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 30vh 35vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "prenomnom"
      "mail"
      "descript";
    grid-area: formulaire;
  }

  .prenomnom{
    grid-area: prenomnom;
}
.mail{
    grid-area: mail;
}
.descript{
    grid-area: descript;
}
 
#button{
    border-radius: 8px;
    width: 10vw;
    height: 5vh;
    font-size: larger;
}



fieldset{
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}
legend{
    color: #1a1918;
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: 1em;
}
input::placeholder{
    color: #1a1918;
}
label{
    color:#1a1918;
    margin: 5% 0;
    font-size: larger;
    font-weight: bolder;
}
textarea{
    text-align: left;
    margin-bottom: 2em;
    width: 40vw;
}
textarea::placeholder{
    color: #1a1918;
}


input, textarea{
    border-radius: 8px;
    background-color: #d4f6f3;
}
input, textarea:focus{outline: none}